name: Publish Docs
on:
  push:
    branches:
      - main  # Запускати тільки при пуші в main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install mkdocs-material mkdocstrings[python]

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
